@import "./css/varibale.css";

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.header_container {
	width: 100vw;
	height: 14vh;
	text-align: center;
	padding-top: 1em;
}
.header_title {
	text-align: center;
	color: var(--primary-color);
	margin-right: 2em;
}

.main {
	position: relative;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: flex-start;
}

.table_container {
	table-layout: fixed;

	border-collapse: collapse;
	border: 3px solid var(--primary-color);
}
.table_caption {
	margin-bottom: 1em;
	font-size: 1.5em;
	border-bottom: 1px solid var(--primary-color);
	box-shadow: inset 0 0 0.3em var(--primary-color);
}

.table_heading {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.tbody_container {
	width: 100%;
	justify-content: center;
	align-items: center;
	display: flex;
}

.col_even,
.col_odd,
.row_even,
.row_odd {
	width: 10em;
	font-size: 1.5em;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.col_even,
.col_odd {
	border: 1px solid var(--border-grey);
}

.count {
	width: 10em;
	height: 1.2em;
	font-size: 1em;
	text-align: center;
	margin: 0.2em;
	border: 1px solid var(--border-grey);
}

.button {
	display: inline-block;
	background-color: var(--primary-color);
	color: white;
	width: 7em;
	height: 3em;
	padding: 0.6em 1.1em;
	border-radius: 2em;
	margin-left: 3em;
}
.button:hover {
	background-color: var(--hover-button-color);
	cursor: pointer;
}

@media only screen and (max-width: 620px) {
	.table_container {
		width: auto;
		position: relative;
	}
	.count {
		width: 7em;
		height: 1em;
		font-size: 0.8em;
	}
	.button {
		width: 5em;
		display: block;
		height: 2em;
		margin: 0 0 0 0.4em;
		padding: 0;
	}
	.table_caption {
		font-size: 1em;
	}
	.col_even,
	.col_odd,
	.row_even,
	.row_odd {
		width: 7em;
		font-size: 1em;
	}
	.tbody_container {
		width: 10 0%;
	}
}
